@model VacationLog.Models.Vacation
@{
}
	<h2 style="text-align: left;margin-left: 0% ">@Model.Title</h2>

	<br />
	<br />
<!--
	SLIDESHOW:
-->
	<div id="overview-carousel" class="carousel slide carousel-fade" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active" data-interval="10000">
				<img class="d-block w-100" src="@Model.Images[0].Path" alt="@Model.Images[0].AltText">
				<div class="polaroid-box">
					<p class="slideshow-caption">@Model.Images[0].Caption</p>
				</div>
			</div>
			<div class="carousel-item" data-interval="10000">
				<img class="d-block w-100" src="@Model.Images[1].Path" alt="@Model.Images[1].AltText">
				<div class="polaroid-box">
					<p class="slideshow-caption">@Model.Images[1].Caption</p>
				</div>
			</div>
			<div class="carousel-item" data-interval="10000">
				<img class="d-block w-100" src="@Model.Images[2].Path" alt="@Model.Images[2].AltText">
				<div class="polaroid-box">
					<p class="slideshow-caption">@Model.Images[2].Caption</p>
				</div>
			</div>
		</div>
	</div>

	<br />
	<br />
	<br />
	<br />

	<hr class="divider-solid"/>

	<br />
	<br />
	<br />
	<!--
		TEXT BODY:
	-->
	@foreach(string paragraph in Model.Description){
		<p>@paragraph</p>
	}
	<br />
