@model VacationLog.Models.Vacation
@{
	string fileExt = ".jpg";
}
	<h2 style="text-align: left;margin-left: 0% ">@Model.Title</h2>

	<br />
	<br />
<!--
	SLIDESHOW:
-->
	<div id="overview-carousel" class="carousel slide carousel-fade" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active" data-interval="10000">
				<img class="d-block w-100" src="~/Assets/@Model.Page/1-@Model.Page@fileExt" alt="@Model.ImageAltTexts[0]">
				<div class="polaroid-box">
					<p class="slideshow-caption">@Model.ImageCaptions[0]</p>
				</div>

			</div>
			<div class="carousel-item" data-interval="10000">
				<img class="d-block w-100" src="~/Assets/@Model.Page/2-@Model.Page@fileExt" alt="@Model.ImageAltTexts[1]">
				<div class="polaroid-box">
					<p class="slideshow-caption">@Model.ImageCaptions[1]</p>
				</div>
			</div>
			<div class="carousel-item" data-interval="10000">
				<img class="d-block w-100" src="~/Assets/@Model.Page/3-@Model.Page@fileExt" alt="@Model.ImageAltTexts[2]">
				<div class="polaroid-box">
					<p class="slideshow-caption">@Model.ImageCaptions[2]</p>
				</div>
			</div>
		</div>
	</div>

	<br />
	<br />
	<br />
	<br />

	<hr class="divider-solid"/>

	<br />
	<br />
	<br />
	<!--
		TEXT BODY:
	-->
	@foreach(string paragraph in Model.Description){
		<p>@paragraph</p>
	}
	<br />
